.custom-hero {
    padding-top: 2rem;
    padding-bottom: 0; /* Remove bottom padding from the hero section */
}

body {
    font-size: 1.25rem; /* or 1.5rem, depending how big you want */
    line-height: 1.8;
    font-family: Cantarell, sans-serif;
    color: #454545;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
