<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click;" style="background-color: #333333; padding-right: 3rem">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@s">
                {{ if .IsHome }}
                <li class="uk-active"><a class="navbar-link" href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>
                {{ else }}
                <li><a class="navbar-link" href="/">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>
                {{ end }}
                {{ range .Site.Menus.main }}
                {{ $aURL := .URL | relLangURL }}
                {{ $page := $.Page.Permalink | relLangURL }}
                {{ if eq $aURL $page }}
                <li class="uk-active"><a class="navbar-link" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ else }}
                <li><a class="navbar-link" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
            </ul>

            <a class="navbar-link" class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: #sidenav" uk-navbar-toggle-icon href="#"></a>

        </div>
    </nav>
</div>

<div id="sidenav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            {{ if .IsHome }}
                <li class="uk-active"><a class="navbar-link" href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>
                {{ else }}
                <li><a class="navbar-link" href="/">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>
                {{ end }}
                {{ range .Site.Menus.main }}
                {{ $aURL := .URL | relLangURL }}
                {{ $page := $.Page.Permalink | relLangURL }}
                {{ if eq $aURL $page }}
                <li class="uk-active"><a class="navbar-link" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ else }}
                <li><a class="navbar-link" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
        </ul>

    </div>
</div>
{{ template "_internal/google_analytics.html" . }}
