.custom-hero {
        padding-top: 2rem;
        padding-bottom: 2rem;
}

.custom-hero h1.uk-heading-large {
    font-size: 2.5rem; /* Smaller heading */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.custom-hero img {
    max-height: 150px; /* Smaller image */
    width: auto;
}
